<article id="page{{ fields.nid.content}} " class="rel top show">
  <section>
    <div class="slidex1">
         {{ fields.field_room_image.content}} 
      </div>
      <div class="btn btn-info"> {{ fields.view_node.content}}</div>
  </section>
</article>