<section id="events-page">
    <div class="row">
      <h2 class="wow fadeInUp" data-wow-delay="0.3s"></h2>
      {% for row in rows %}
                 {{ row.content }}
              {% endfor %}
    </div>
</section>      