
<div class="col-md-3 col-sm-6 col-xs-12 latest-events-title wow fadeInUp" data-wow-delay="0.4s">
	<p><span>{{ fields.field_date.content}}</span></p>
	<p>{{ fields.field_date_1.content}}</p>
	<p><a href="#">{{ fields.title.content}}</a></p>
</div>

      