
<div class="col-md-3 col-sm-6 col-xs-12 facility-listing wow fadeInUp" data-wow-delay="0.2s">
        <img src="{{ file_url(content.field_provide_lists_image['#items'].entity.uri.value) }}" alt="003-double-bed.png" class="img-responsive">
        <p>{{ content.field_provide_description.0}}</p>
</div>