<!-- Top Banner section -->
<section id="top-banner" style="background-image:url('{{ file_url(content.field_top_banner_image['#items'].entity.uri.value) }}'); width: 100%; background-repeat: no-repeat;">
  <div class="top-banner-overlay">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mx-auto banner-caption wow fadeInUp" data-wow-delay="0.3s">
        <h1>{{content.field_page_title.0}}</h1>
        <p>{{content.field_page_description.0}}</p>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- End Top Banner section -->