<div class="col-md-4 col-sm-12 col-xs-12 why-choose-listing">
            <div class="why-choose-listing-img wow fadeInUp" data-wow-delay="0.3s">
              <p><span class="wow fadeInUp" data-wow-delay="0.3s">{{ content.field_number_of_items.0}}</span></p><img src="{{ file_url(content.field_why_choose_image['#items'].entity.uri.value) }}" alt="why-choose-img" class="img-responsive">
            </div>    
                <div class="why-choose-description wow fadeInUp" data-wow-delay="0.3s">
                  <div class="row">
                      <p>{{content.field_why_choose_description.0}}</p>
                  </div>  
                </div>
          </div>