<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
    <div class="services-listing">
      <img src="{{ file_url(content.field_facilities_image['#items'].entity.uri.value) }}" alt="facilities image" class="img-responsive">
      <div class="services-list">
        <h4>{{ content.field_facilities_image['#items'].title}}</h4>
      </div>  
    </div>  
</div>