<div class="col-md-4 features-listing wow fadeInUp" data-wow-delay="0.3s">
        <div class="features-listing-inner">
          <i class="fa fa-square-o"></i>
          <h5>{{ content.field_no_of_listings.0 }}</h5>
          <h2>{{ content.field_feature_title.0 }}</h2>
          <p>{{ content.field_feature_description.0 }}</p>
        </div>  
      </div>