<section id="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <img src="{{ file_url(content.field_about_us_image['#items'].entity.uri.value) }}" class="img-responsive" alt="about-us-image">
      </div>
      <div class="col-md-6 about-us-content wow fadeInUp" data-wow-delay="0.6s">
        {{ content.field_about_descri.0 }}
      </div>
    </div>
  </div>
  </section>