{% for item in items %}  
<div class="col-md-7 room-details-img-large wow fadeInUp" data-wow-delay="0.3s">
        <div class="room-details-img-inner">
          <div class="hovereffect">
        
          <img src="{{ file_url(item.content['#item'].entity.uri.value) }}" alt="room-details-img" class="img-responsive">
            <div class="overlay">
             <a class="info portfolio-popup" href="{{ file_url(item.content['#item'].entity.uri.value) }}"><i class="fa fa-search" aria-hidden="true"></i></a>
             <h2>{{ item.content['#item'].title }}</h2>
            </div>
         </div>
         </div>
         </div>   
 {% endfor %}