
{{ content.field_top_banner_sec}}
<section id="room-details">
  <div class="container">
    <div class="row">
               {{  content.field_room_image }}    
            </div>
      
  </div>
  </section>    


  {{ content.field_we_provide }}


